@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');
:root{
    --poppins: 'Poppins', sans-serif;
    --indigo-dye: #043A56;
    --viridian-green: #0EA6AC;
    --cultured: #F0F2EF;
    --auburn: #A52422;
}

.items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 600px;
    overflow: auto;
}

.container-2{
    background: linear-gradient(to right, white,0%, rgba(255,255,255,0.8)),url('https://drive.google.com/uc?export=view&id=1fR5FhQvSpg7E42thiiX9yLCfKcAKWltC');
    background-size: auto;
    height: calc(100vh - 56px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container input {
    margin: 12px;
    height: 24px;
    background-color: var(--cultured);
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
}

.container button {
    height: 36px;
    align-self: center;
    border: none;
    border-radius: 12px;
    width: 72px;
    background-color: var(--indigo-dye);
    font-family:  'Source Sans Pro', sans-serif;
    color: white;
}

.container button:hover {
    background-color: var(--viridian-green);
    cursor: pointer;
}

.items-container {
    gap: 16px;
   
}

.container-bib {
    margin-top: 36px;
    
}

.container-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-not-found img{
    width: 300px;
    height: 300px;
}

.container-not-found p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    text-align: center;
    width: 300px;
    
}